<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
    <head>
        <title>Delete <span th:replace="${cartitem.name}"></span>?</title>
    </head>
    <body>
        <section>
            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete this item?
            </div>
            <h1 th:text="${cartitem.name}"></h1>
            <div class="price" th:text="'Price: $' + ${cartitem.price}"></div>
            
            <form th:action="${'/cart/' + id + '/delete'}" method="POST">
                <button type="submit" class="btn btn-danger">
                    Delete
                </button>
                <a class="btn btn-secondary" role="button" th:href="${'/cart/'}">Cancel</a>
            </form>
        </section>
    </body>
</html>
