<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
    <head>
        <title>Dryer</title>
    </head>
    <body>
        <section>
            <h1 th:text="Dryer"></h1>
            <form th:action="${'/cart'}" method="POST">
                <div class="form-row">
                    <div class="col form-group">
                        <label for="dryersize">Choose a Size</label>
                            <select id="dryersize" name="dryersize">
                                <option value="SIXPOINTSEVEN">6.7"</option>
                                <option value="SEVENPOINTTHREE">7.3"</option>
                                <option value="SEVENPOINTEIGHT">7.8"</option>
                                <option value="NINEPOINTZERO">9.0"</option>
                            </select>
                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="color">Choose a color</label>
                            <select id="color" name="color">
                                <option value="STAINLESS_STEEL">Stainless Steel</option>
                                <option value="BLACK">Black</option>
                                <option value="WHITE">White</option>
                                <option value="BLUE">Blue</option>
                            </select>
                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <input type="checkbox" class="form-check-input" id="steamer" name="steamer" th:checked="${steamer}">
                        <label for="steamer">Steamer</label>
                    </div>
                    <div class="col form-group">
                        <input type="checkbox" class="form-check-input" id="topload" name="topload" th:checked="${topload}">
                        <label for="topload">Top Load</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>

            <a class="btn btn-secondary" role="button" th:href="${'/cart/'}">Back</a>
        </section>
    </body>
</html>